streamlit
fastapi
uvicorn
requests
pillow
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-community
langchain-tavily
langgraph
typing-extensions
easyocr
torch
torchvision
numpy
pydantic
